
.icon-camera:before { content: '\e800'; } /* '' */
.icon-videocam:before { content: '\e801'; } /* '' */
.icon-play:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-camera-1:before { content: '\e805'; } /* '' */
.icon-doc-text-1:before { content: '\e806'; } /* '' */
.icon-play-1:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-location-1:before { content: '\e809'; } /* '' */
.icon-phone-1:before { content: '\e80a'; } /* '' */
.icon-graduation-cap-1:before { content: '\e80b'; } /* '' */
.icon-location-3:before { content: '\e80c'; } /* '' */
.icon-twitter-2:before { content: '\e80d'; } /* '' */
.icon-attach:before { content: '\e80e'; } /* '' */
.icon-attach-1:before { content: '\e80f'; } /* '' */
.icon-location-2:before { content: '\f031'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-building-filled:before { content: '\f1ad'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-twitter-1:before { content: '\f309'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */